@using Corona.MVC.ViewModel.ProductType
@model ProductTypeViewModel

@{
    ViewData["Title"] = "Update Testimonial";
}

<h1>Update Testimonial</h1>

<form id="updateForm" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Current Image</label>
        <div>
            <img src="@Model.ImageUrl" style="width: 200px; height: auto;" alt="Current Image" />
        </div>
        <label>Change Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#updateForm').on('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            $.ajax({
                url: 'https://localhost:7295/api/ProductTypes/UpdateProductType',
                type: 'PUT',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.href = 'https://localhost:7186/Admin/ProductType';
                },
                error: function () {
                    alert('Error updating Product Type.');
                }
            });
        });
    });
</script>
