@using Corona.MVC.ViewModel.Category
@model CategoryCreateViewModel
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-5">
    <h2>Category Form</h2>
    <form id="BrandForm">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" asp-for="Title" placeholder="Enter your Title">
        </div>
        <div class="form-group">
            <label for="BrandId">Select Brand</label>
            <select class="form-control" id="BrandId" asp-for="BrandId">
                @foreach (var item in ViewBag.brands)
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#BrandForm').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: 'https://localhost:7295/api/Categorys/CreateCategory',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.href = '@Url.Action("Index")';
                },
                error: function () {
                    window.location.href = 'https://localhost:7186/Admin/category';
                }
            });
        });
    });
</script>
